<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <main id="wrapper">
        <h1>Kanye Quotes</h1>
       
        <h2>Sign up for an Account</h2>
        <form action="/sign-up" method="post" id="sign-up-form">

            <label for="username">
                Username: 
            <input type="text" name="username" id="username" required>
            </label>

            <label for="Email">
                    Email: 
                <input type="email" name="email" id="email" required>
                </label>

            <label for="password">
                Password: 
                <input type="password" name="password" id="password" required>
            </label>
            <label for="confirm">
                Confirm Password: 
                <input type="password" name="confirm" id="confirm" required>
            </label>

            <input type="submit" value="Submit">
            
            
        </form>

    </main>
    
</body>
</html>