body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
}

#header-kanye, #sign-up-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: space-around;
}

#header-kanye {
    font-size: 2em;
}

#sign-up-form {
    font-size: 1em;
}

label {
    margin-bottom: 10px;
}